@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --text-dark: #0B0B0B;
    --text-dark-secondary: #323232;
    --text-light: #FFF;
    --text-secondary: #4B4B4B;
    --text-gray: #787878;
    --text-thead: #616161;
    --text-placeholder: #BFBFBF;
    --text-input-background: #F5F5F5;
    --bg-grey: #E6E6E6;
    --bg-table-grey: #F0F0F0;
    --text-input-border: #F9F9F9;
    --btn-primary: #007AFF;
    --sidebar-divider: #F4F7FE;
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-font-monospace: "Roboto Mono", monospace;
}




body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    display: flex;
}


#sidebar {
    width: 290px;
    height: 100vh;
    flex-shrink: 0;
    background: #111629;
    box-shadow: 4px 0 6.3px 0 rgba(0, 0, 0, 0.12);
    position: relative;
}

#content {
    width: calc(100% - 290px);
}


.sidebar-divider {
    background: var(--sidebar-divider);
    margin-bottom: 33px !important;
}

.btn-close {
    display: none;
}

@media (max-width: 1200px) {
    #sidebar {
        width: 240px;
    }

    #content {
        width: calc(100% - 240px);
    }
}

@media (max-width: 992px) {
    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100% - 200px);
    }
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 999;
    }

    .navbar-list-container {
        display: unset !important;
    }

    .sidebar-divider {
        margin-bottom: 10px !important;
    }

    .sidebar-lists li {
        padding: 9px 59px 8px 30px !important;
    }

    .sidebar-lists p {
        padding: 0 30px;
    }

    .sidebar-footer {
        margin: 0 30px 10px 30px !important;
    }

    .btn-close {
        display: block;
    }

    .sidebar-header {
        display: flex;
        align-items: center;
    }

    .sidebar-header img.logo {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 25px;
        margin-right: auto;
    }

    .btn-close{
        width: 60px;
    }
    #sidebar.slidein .sidebar-content{
        justify-content: unset !important;
        height: unset !important;
        margin-top: unset;
    }

    /* Slide in */
    #sidebar.slidein {
        animation: slide-in-left 1s forwards;
    }

    /* Slide out */
    #sidebar.slideout {
        animation: slide-out-left 1s forwards;
    }
    .sidebar-footer{
        position: unset !important;
        bottom: unset !important;
    }

    .sidebar-lists{
        padding: 10px;
    }
}

/* Animations */
@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.no-scroll-app {
    overflow-y: hidden;
    height: 100vh;
}

.navbar-list-container {
    display: flex;
    justify-content: center;
}

img.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 25px auto;
}

.navbar {
    padding: 24px 0 !important;
}

nav .container-content {
    padding: 0 40px;
}

nav .dropdown-toggle::after {
    display: none;
}

nav .bi {
    font-size: 40px;
}

.profile-container {
    padding: 10px;
    background-color: var(--bg-grey);
    border-radius: 25px;
}

.profile-details h2 {
    color: var(--text-dark);
    font-family: var(--bs-font-sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 5px;
}

.profile-details p {
    color: var(--text-secondary);
    font-family: var(--bs-font-sans-serif);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

nav .bi {
    color: var(--text-dark);
}

.bi.bi-chevron-down {
    font-size: 17px;
}

#navbarToggle ul {
    align-items: center;
}

#content {
    flex-grow: 1;
}


.sidebar-lists {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.sidebar-lists li {
    display: flex;
    padding: 9px 59px 8px 9px;
    align-items: center;
    gap: 13px;
}

.sidebar-lists li.active {
    border-radius: 5px;
    background: var(--btn-primary);
}

.sidebar-lists li .bi {
    color: #FFF;
}


.sidebar-lists li a {
    color: #FFF;
    font-family: var(--bs-font-sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
}

.sidebar-lists li .bi {
    font-size: 16px;
}

.sidebar-lists p {
    color: #FFF;
    font-family: var(--bs-font-sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    color: #FFF;
    margin: 10px;
}

footer {
    position: absolute;
    bottom: 0;
}

.breadcrumb .breadcrumb-item a{
    color: var(--text-gray);
    font-family: var(--bs-font-sans-serif);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}

.page-title{
    color: var(--text-dark-secondary);
    font-family: var(--bs-font-sans-serif);
    font-size: 30.862px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 24px;
}

.btn-primary{
    display: flex;
    padding: 10px 45px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 10.287px;
    flex-shrink: 0;
    color: #FFF;
    font-family: var(--bs-font-sans-serif);
    font-size: 18.517px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: var(--btn-primary);
    border-radius: 8.23px;
}

table thead{
    background: var(--bg-table-grey);
}

table thead th{
    padding: 20px !important;
}

table thead tr{
    color: var(--text-thead);
    font-family: var(--bs-font-sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

table tbody td{
    padding: 14px !important;
    vertical-align: middle !important;
    color: #000;
    font-family: var(--bs-font-sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.transparent-btn{
    background: transparent;
    border: none;
    font-size: 24px;
}

.btn-outline-secondary {
    display: flex;
    padding: 10px 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10.287px;
    flex-shrink: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 18.517px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border-radius: 8.23px;
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 768px) {
    .title-button-container {
        display: unset;
    }
}

/* custom file upload option */
.input-file {
    position: relative;
    cursor: pointer;
}

.input-file .title {
    color: var(--sec-dark-color);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.input-file .title a {
    color: var(--btn-primary-color);
    text-decoration: underline;
    font-weight: 500;
}

.input-file .description {
    color: var(--sec-grey-color);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

.input-file input[type="file"] {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    padding: 0 40px;
}

.input-file input[type="file"]:active+label,
.input-file input[type="file"]:focus+label {
    box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.2);
}

.input-file label {
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    border: 1px dashed rgba(56, 78, 183, 0.30);
    background: #F8F8FF;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    padding: 40px 0;
}

.input-file label div {
    transition: all 0.2s ease;
}

.input-file .upload-icon {
    color: var(--btn-primary-color);
    font-size: 32px;
}

.input-file.event-dragenter label {
    border: 0.15rem dashed #007bff;
}

.input-file.event-drop::before {
    content: attr(data-filename);
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    padding: 0.625rem;
}

.input-file.event-drop label {
    background-color: rgba(0, 123, 255, 0.05);
    border: 0.1rem solid #007bff;
}

.input-file.event-drop label div {
    opacity: 0;
}

/* custom file upload option -- end */