@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root {
    /* --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa; */
    --text-dark: #313131;
    --text-light: #FFF;
    --text-secondary: #6E6E6E;
    --text-placeholder: #BFBFBF;
    --text-input-background: #F5F5F5;
    --text-input-border: #F9F9F9;
    --btn-primary: #007AFF;
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-font-monospace: "Roboto Mono", monospace;
}




body{
    background-image: url('bg-back.webp');
    background-size: cover;
    background-position: center;
    /* opacity: 0.35; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('bg-back.webp') lightgray 50% / cover no-repeat;

    font-family: var(--bs-font-sans-serif);
}

h3{
    color: var(--text-dark);
    text-align: center;
    font-family: var(--bs-font-sans-serif);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-desc {
    color: var(--text-secondary);
    text-align: center;
    font-family: var(--bs-font-sans-serif);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type="email"], input[type="password"] {
    display: flex;
    height: 66px;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 9.585px;
    border: 0 solid var(--text-input-border);
    background: var(--text-input-background);

    color: var(--text-placeholder);
    font-family: var(--bs-font-sans-serif);
    font-size: 17.279px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 2rem;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    background: #FFF;
}

.remember-me-label{
    color: var(--text-placeholder);
    font-family: Roboto;
    font-size: 15.95px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-check{
    display: flex;
    align-items: center;
    gap: 5px;
}

.position-relative .bi {
    color: var(--text-placeholder);
}

.btn-primary{
    border-radius: 10px;
    background: var(--btn-primary);
    color: var(--text-light);
    font-family: var(--bs-font-sans-serif);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 0;
}

img.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}