@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --text-dark: #0B0B0B;
    --text-dark-secondary: #323232;
    --text-light: #FFF;
    --text-secondary: #4B4B4B;
    --text-subtle: #353535;
    --text-gray: #787878;
    --text-placeholder: #BFBFBF;
    --text-input-background: #F5F5F5;
    --bg-grey: #E6E6E6;
    --text-input-border: #F9F9F9;
    --btn-primary: #007AFF;
    --sidebar-divider: #F4F7FE;
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-font-monospace: "Roboto Mono", monospace;
}

.section-title{
    color: var(--text-dark-secondary);
    font-family: var(--bs-font-sans-serif);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.section-description{
    color: #353535;
    font-family: var(--bs-font-sans-serif);
    font-size: 16.46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

table .table-users-col{
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 1 !important;
}

table .user-details .email{
    color: #747474;
    font-family: var(--bs-font-sans-serif);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

table .avatar{
    padding: 8px;
    background: var(--bg-grey);
    border-radius: 25px;
}

table .avatar i{
    font-size: 24px;
    color: #FFF;
}

.form-validation-group .label-error-message span,
.form-validation-group .label-error-message span i {
    color: var(--required-color);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vd-err-color {
    color: var(--required-color) !important
}

.form-validation-group input.form-error,
.form-validation-group select.form-error,
.form-validation-group .custom-select-trigger.form-error,
.form-validation-group .custom-select-multiple-trigger.form-error {
    border: 1px solid var(--required-color);
    box-shadow: 0px 0px 5px rgba(250, 0, 0, 0.25);
}

.page-subtitle{
    color: var(--text-subtle);
    font-family: var(--bs-font-sans-serif);
    font-size: 16.46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.setting-profile-picture{
    display: flex;
    align-items: center;
    gap: 10px;
}

.setting-profile-picture .user-avatar{
    padding: 38px;
    background: var(--bg-grey);
    border-radius: 50%;
    font-size: 38px;
}

.setting-profile-picture .user-avatar .bi-person::before {
    content: "\f4e1";
    height: 38px;
    width: 38px;
    display: block;
}

.btn-upload-photo{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 11px 30px;
    color: #989898;
    font-family: var(--bs-font-sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.img-upload-info{
    color: #989898;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
}

.setting-justify-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-justify-card h4 {
    color: var(--text-dark-secondary);
    font-family: var(--bs-font-sans-serif);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.setting-justify-card p {
    color: #A1A1A1;
    font-family: var(--bs-font-sans-serif);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}